.popup__closed {
  width: 32px;
  height: 32px;
  position: absolute;
  right: -32px;
  top: -32px;
  background-image: url(../../../images/Close\ Icon.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: opacity linear 0.2s;
}

.popup__closed:hover {
  opacity: 0.8;
}

@media screen and (max-width: 516px) {
  .popup__closed {
    right: 0;
    margin-top: -16px;
  }
}