.header {
  margin: 45px 0 40px;
}

.header::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 768px) {
  .header {
    margin: 28px 0 42px;
  }
}