.root {
  max-width: 900px;
  padding: 0 10px;
  margin: 0 auto;
  background-color: black;
  color: white;
  font-family:"Inter", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 768px) {
  .root {
    padding: 0;
  }
}